@model ArtGallery2.ViewModel.ArtistDropDownViewModel

@{
    ViewBag.Title = "CreateArtWork";
}

<h2>Create ArtWork</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Artists</label>
            <div class="col-md-10">
<<<<<<< HEAD
                @Html.DropDownListFor(model => model.SelectedArtistId, Model.ArtistList)                
            </div>
        </div>
=======
                @Html.DropDownListFor(model => model.SelectedArtistId, Model.ArtistList)
            </div>
        </div>

>>>>>>> ownerView
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Year Created</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearOriginalCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearOriginalCreated, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<<<<<<< HEAD
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
=======

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
>>>>>>> ownerView
