@model ArtGallery2.ViewModel.ArtListViewModel
@{
    ViewBag.Title = "ArtWork";
}
<h4>Art Work Available</h4>

@Html.ActionLink("View Sold Pieces", "SoldWork", new { Location = Model.Location })

<hr />
@foreach (var item in Model.artViewModel)
{
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(modelItem => item.Image)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(modelItem => item.Title)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(modelItem => item.Price)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(modelItem => item.Cost)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(modelItem => item.Edition)
        </div>
    </div>

    <div class="row">
           <div class="col-md-2">
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Alternate Text" class="thumbnail" />
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Cost)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Edition)
            </div>
        <div>
            @Html.ActionLink("Edit", "EditIp", new { id = item.IndividualPieceId })    
            @Html.ActionLink("Delete", "DeleteIp", new { id = item.IndividualPieceId })
        </div>
     </div>
     <hr />
}
